<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
   
   <extension point="org.eclipse.jdt.core.classpathContainerInitializer"
              id="endorsedLibrariesClasspathContainer"
              name="Endorsed Libraries">
      <classpathContainerInitializer
            id="org.jboss.tools.maven.jdt.ENDORSED_LIB_CLASSPATH_CONTAINER"
            class="org.jboss.tools.maven.jdt.internal.endorsedlib.EndorsedLibrariesContainerInitializer"/>
   </extension>
      
 	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.jboss.tools.maven.jdt.configurator.endorsedlib"
          class="org.jboss.tools.maven.jdt.configurators.EndorsedLibProjectConfigurator"
          name="%Endorsed_Lib_Configurator_label" 
          secondaryTo="org.eclipse.m2e.jdt.javaConfigurator"/>
    </extension>

    
     <extension point="org.eclipse.core.resources.markers"
         id="org.jbosstools.maven.configuration.jdt.endorsedlib"
         name="%Maven_Configuration_Problem">
      <super type="org.eclipse.m2e.core.maven2Problem.configuration"/>
      <persistent value="true"/>
    </extension>
   
    <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory
            name="%Maven_Configuration_Problems">
         <markerTypeReference
               id="org.jbosstools.maven.configuration.jdt.endorsedlib">
         </markerTypeReference>
      </markerTypeCategory>
   </extension>
   
	<extension 
        point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.jboss.tools.maven.jdt.internal.markers.MissingEndorsedLibMarkerResolutionGenerator"
            markerType="org.jbosstools.maven.configuration.jdt.endorsedlib">
        </markerResolutionGenerator>
    </extension>
    
</plugin>
