<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.maven.ide.eclipse.projectConfigurators">
      <configurator 
          id="org.jboss.tools.maven.portlet.configurator"
          class="org.jboss.tools.maven.portlet.configurators.PortletProjectConfigurator"
          name="%Portlet_Project_configurator" priority="155"/>
    </extension>
</plugin>
