<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorCategory
            description="Plugins for working with Maven"
            id="org.jboss.tools.central.discovery.maven"
            name="Maven"
            relevance="60">
            <!-- use groups to reorder items in a category; otherwise default to alpha order -->
 			<group id="org.jboss.tools.central.discovery.maven.core" /> 
 			<group id="org.jboss.tools.central.discovery.maven.configurators" /> 
 			<group id="org.jboss.tools.central.discovery.maven.upstream" />
      </connectorCategory>
      
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.core"
            description="JBoss Maven Integration"
            id="org.jboss.tools.maven.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven Integration"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven CDI Configurator"
            id="org.jboss.tools.maven.cdi.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven CDI Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.cdi.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven GWT Configurator"
            id="org.jboss.tools.maven.gwt.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven GWT Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.gwt.feature"/>
            <iu id="com.google.gdt.eclipse.suite.e42.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven Hibernate Configurator"
            id="org.jboss.tools.maven.hibernate.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven Hibernate Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.hibernate.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven JAX-RS Configurator"
            id="org.jboss.tools.maven.jaxrs.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven JAX-RS Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.jaxrs.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven JSF Configurator"
            id="org.jboss.tools.maven.jsf.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven JSF Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.jsf.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven Portlet Configurator"
            id="org.jboss.tools.maven.portlet.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven Portlet Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.portlet.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven Seam Configurator"
            id="org.jboss.tools.maven.seam.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven Seam Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.seam.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="JBoss Maven JPA Configurator"
            id="org.jboss.tools.maven.jpa.feature"
            kind="task"
            license="Free, EPL"
            name="JBoss Maven JPA Configurator"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.jpa.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.configurators"
            description="Maven Profile Management UI"
            id="org.jboss.tools.maven.profiles.feature"
            kind="task"
            license="Free, EPL"
            name="Maven Profile Management UI"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.jboss.tools.maven.profiles.feature"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.upstream"
            description="Maven Integration for Eclipse (m2e)"
            id="org.eclipse.m2e.feature"
            kind="task"
            license="Free, EPL"
            name="Maven Integration for Eclipse (m2e)"
            provider="eclipse.org"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
	    <iu id="org.eclipse.m2e.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://www.eclipse.org/m2e/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.upstream"
            description="Maven Integration for Eclipse JDT APT (m2e-apt)"
            id="org.jboss.tools.maven.apt.feature"
            kind="task"
            license="Free, EPL"
            name="Maven Integration for Eclipse JDT APT (m2e-apt)"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
       <iu id="org.jboss.tools.maven.apt.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="https://github.com/jbosstools/m2e-apt/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.maven"
            groupId="org.jboss.tools.central.discovery.maven.upstream"
            description="Maven Integration for Web Tools (m2e-wtp)"
            id="org.maven.ide.eclipse.wtp.feature"
            kind="task"
            license="Free, EPL"
            name="Maven Integration for Web Tools (m2e-wtp)"
            provider="eclipse.org"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
	     <iu id="org.eclipse.m2e.wtp.feature"/>
         <icon
               image32="images/m2e_32.gif">
         </icon>
         <overview
               url="http://www.eclipse.org/m2e-wtp/">
         </overview>
      </connectorDescriptor>

       <!-- SCM -->
      <connectorCategory
            description="Plugins for source control systems"
            id="org.jboss.tools.central.discovery.scm"
            name="Source Control Management"
            relevance="60">
 			<group id="org.jboss.tools.central.discovery.scm.git" /> 
 			<group id="org.jboss.tools.central.discovery.scm.svn" />
      </connectorCategory>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.scm"
            groupId="org.jboss.tools.central.discovery.scm.git"
            description="Eclipse Team Provider for the Git version control system"
            id="org.eclipse.egit"
            kind="task"
            license="Free, EPL"
            name="Eclipse EGit"
            provider="eclipse.org"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
       <iu id="org.eclipse.jgit"/>
       <iu id="org.eclipse.egit"/>
         <icon
               image32="images/egit_32.png">
         </icon>
         <overview
               url="http://www.eclipse.org/egit/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.scm"
            groupId="org.jboss.tools.central.discovery.scm.git"
            description="Mylyn support for Eclipse EGit and GitHub"
            id="org.eclipse.egit.mylyn"
            kind="task"
            license="Free, EPL"
            name="Eclipse EGit: Mylyn Support"
            provider="eclipse.org"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
	<iu id="org.eclipse.jgit"/>
	<iu id="org.eclipse.egit"/>
	<iu id="org.eclipse.egit.mylyn"/>
	<iu id="org.eclipse.mylyn.github.feature"/>
	<iu id="org.eclipse.mylyn.git"/>
	<iu id="org.eclipse.mylyn_feature"/>
	<iu id="org.eclipse.mylyn.ide_feature"/>
	<iu id="org.eclipse.mylyn.commons"/>
	<iu id="org.eclipse.mylyn.context_feature"/>
	<iu id="org.eclipse.mylyn.bugzilla_feature"/>
	<iu id="org.eclipse.mylyn.java_feature"/>
	<iu id="org.eclipse.mylyn.pde_feature"/>
	<iu id="org.eclipse.mylyn.team_feature"/>
	<iu id="org.eclipse.mylyn.versions"/>
         <icon
               image32="images/egit_32.png">
         </icon>
         <overview
               url="http://www.eclipse.org/egit/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.scm"
            groupId="org.jboss.tools.central.discovery.scm.svn"
            description="Eclipse Team Provider for the Subversion version control system, including SVNKit"
            id="org.tigris.subversion.subclipse"
            kind="task"
            license="Free, Subclipse License"
            name="Subclipse + SVNKit"
            provider="tigris.org"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.tigris.subversion.subclipse"/>
            <iu id="org.tigris.subversion.clientadapter.svnkit.feature"/>
         <icon
               image32="images/subclipse_32.gif">
         </icon>
         <overview
               url="http://subclipse.tigris.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.scm"
            groupId="org.jboss.tools.central.discovery.scm.svn"
            description="Mylyn support for the Subversion version control system, including SVNKit"
            id="org.tigris.subversion.subclipse.mylyn"
            kind="task"
            license="Free, Subclipse License"
            name="Subclipse + SVNKit: Mylyn Support"
            provider="tigris.org"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
	<iu id="org.tigris.subversion.subclipse"/>
	<iu id="org.tigris.subversion.clientadapter.svnkit.feature"/>
	<iu id="org.tigris.subversion.subclipse.mylyn"/>
	<iu id="org.eclipse.mylyn_feature"/>
	<iu id="org.eclipse.mylyn.ide_feature"/>
	<iu id="org.eclipse.mylyn.commons"/>
	<iu id="org.eclipse.mylyn.context_feature"/>
	<iu id="org.eclipse.mylyn.bugzilla_feature"/>
	<iu id="org.eclipse.mylyn.java_feature"/>
	<iu id="org.eclipse.mylyn.pde_feature"/>
	<iu id="org.eclipse.mylyn.team_feature"/>
	<iu id="org.eclipse.mylyn.versions"/>
         <icon
               image32="images/subclipse_32.gif">
         </icon>
         <overview
               url="http://subclipse.tigris.org/">
         </overview>
      </connectorDescriptor>

       <!-- Testing -->

       <connectorCategory
            description="Plugins for testing + code quality"
            id="org.jboss.tools.central.discovery.testing"
            name="Testing"
            relevance="60">
	<group id="org.jboss.tools.central.discovery.testing.local" />
 	<group id="org.jboss.tools.central.discovery.testing.remote" />
      </connectorCategory>
      
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.testing"
            groupId="org.jboss.tools.central.discovery.testing.local"
            description="Tool support for Checkstyle"
            id="net.sf.eclipsecs"
            kind="task"
            license="Free, LGPL"
            name="Eclipse Checkstyle"
            provider="eclipse-cs Project"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
	    <iu id="net.sf.eclipsecs"/>
         <icon
               image32="images/checkstyle_32.png">
         </icon>
         <overview
               url="http://eclipse-cs.sourceforge.net/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.testing"
            groupId="org.jboss.tools.central.discovery.testing.local"
            description="Tool support for FindBugs"
            id="edu.umd.cs.findbugs.plugin.eclipse"
            kind="task"
            license="Free, LGPL"
            name="FindBugs"
            provider="FindBugs Project"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
	    <iu id="edu.umd.cs.findbugs.plugin.eclipse"/>
         <icon
               image32="images/findbugs_32.png">
         </icon>
         <overview
               url="http://findbugs.sourceforge.net/">
         </overview>
      </connectorDescriptor>
      <!-- JBDS-2189 remove <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.testing"
            groupId="org.jboss.tools.central.discovery.testing.local"
            description="Tool support for JSLint"
            id="com.rockstarapps.workbench.branding.feature"
            kind="task"
            license="Free, ASL"
            name="JSLint"
            provider="Rockstarapps.com"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="com.rockstarapps.aws.feature"/>
	    <iu id="com.rockstarapps.html.core.feature"/>
	    <iu id="com.rockstarapps.jsLex"/>
	    <iu id="com.rockstarapps.jsLint"/>
	    <iu id="com.rockstarapps.workbench.branding.feature"/>
         <icon
               image32="images/jslint_32.png">
         </icon>
         <overview
               url="http://www.jslint.com/">
         </overview>
      </connectorDescriptor> -->
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.testing"
            groupId="org.jboss.tools.central.discovery.testing.local"
            description="Mylyn support for reporting JBoss JIRAs and Red Hat Bugzillas"
            id="org.jboss.tools.common.mylyn.feature"
            kind="task"
            license="Free, EPL"
            name="Mylyn Issue Tracker Connectors"
            provider="JBoss by Red Hat"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
         <iu id="org.jboss.tools.common.mylyn.feature"/>
         <iu id="org.eclipse.mylyn_feature"/>
         <iu id="org.eclipse.mylyn.ide_feature"/>
         <iu id="org.eclipse.mylyn.commons"/>
         <iu id="org.eclipse.mylyn.context_feature"/>
         <iu id="org.eclipse.mylyn.bugzilla_feature"/>
         <iu id="org.eclipse.mylyn.java_feature"/>
         <iu id="org.eclipse.mylyn.pde_feature"/>
         <iu id="org.eclipse.mylyn.team_feature"/>
         <iu id="org.eclipse.mylyn.versions"/>
         <icon
               image32="images/jbosstools_icon32.png">
         </icon>
         <overview
               url="http://www.jboss.org/tools">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.testing"
            groupId="org.jboss.tools.central.discovery.testing.local"
            description="Tool support for PMD"
            id="net.sourceforge.pmd.eclipse"
            kind="task"
            license="Free, PMD License"
            name="PMD"
            provider="PMD Developers"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
       <iu id="net.sourceforge.pmd.eclipse"/>
         <icon
               image32="images/pmd_32.png">
         </icon>
         <overview
               url="http://pmd.sourceforge.net/">
         </overview>
      </connectorDescriptor>
	  <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.testing"
            groupId="org.jboss.tools.central.discovery.testing.local"
            description="Tool support for TestNG"
            id="org.testng.eclipse"
            kind="task"
            license="Free, ASL"
            name="TestNG"
            provider="Cedric Beust"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
	    <iu id="org.testng.eclipse"/>
         <icon
               image32="images/testng_32.gif">
         </icon>
         <overview
         	   summary="TestNG plug-in for Eclipse"
         	   screenshot="images/testng_screenshot.png"
               url="http://testng.org/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.testing"
            groupId="org.jboss.tools.central.discovery.testing.remote"
            description="Tool support for JRebel - requires JST Server"
            id="org.zeroturnaround.eclipse.feature"
            kind="task"
            license="Commercial"
            name="JRebel"
            provider="zeroturnaround.org"
            siteUrl="http://www.zeroturnaround.com/update-site/">
            <iu id="org.zeroturnaround.eclipse.feature"/>
            <iu id="org.zeroturnaround.eclipse.nature.feature"/>
            <iu id="org.zeroturnaround.eclipse.debug.feature"/>
            <iu id="org.zeroturnaround.eclipse.wtp.feature"/>
            <iu id="org.zeroturnaround.eclipse.embedder.feature"/>
         <icon
               image32="images/jrebel_32.png">
         </icon>
         <overview
               url="http://zeroturnaround.com/jrebel/current/">
         </overview>
      </connectorDescriptor>
      
      <!-- Web -->

       <connectorCategory
            description="Plugins for web development"
            id="org.jboss.tools.central.discovery.web"
            name="Web Development"
            relevance="60">
 			<group id="org.jboss.tools.central.discovery.web.core" /> 
 			<group id="org.jboss.tools.central.discovery.web.extras" />
      </connectorCategory>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.web"
            groupId="org.jboss.tools.central.discovery.web.core"
            description="JST Server Core, UI, Adapters, User Doc"
            id="org.eclipse.jst.server_core.feature"
            kind="task"
            license="Free, EPL, Other"
            name="JST Server"
            provider="Eclipse.org"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <!-- <iu id="org.eclipse.jst.server_adapters.ext.feature"/> -->
            <iu id="org.eclipse.jst.server_adapters.feature"/>
            <iu id="org.eclipse.jst.server_core.feature"/>
            <iu id="org.eclipse.jst.server_ui.feature"/>
            <iu id="org.eclipse.jst.server_userdoc.feature"/>
         <icon
               image32="images/wtp_32.png">
         </icon>
         <overview
               url="http://eclipse.org/webtools/">
         </overview>
      </connectorDescriptor>

      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.web"
            groupId="org.jboss.tools.central.discovery.web.extras"
            description="Android Development Tools, DDMS, Hierarchy Viewer, OpenGL Tracer, Traceview"
            id="com.android.ide.eclipse.adt"
            kind="task"
            license="EPL, Other"
            name="Android Development Tools"
            provider="Google, Inc."
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="com.android.ide.eclipse.adt"/>
            <iu id="com.android.ide.eclipse.ddms"/>
            <iu id="com.android.ide.eclipse.hierarchyviewer"/>
            <iu id="com.android.ide.eclipse.gldebugger"/>
            <iu id="com.android.ide.eclipse.traceview"/>
            <!-- DO NOT INCLUDE com.android.ide.eclipse.ndk feature because it requires CDT -->
         <icon
               image32="images/android_32.png">
         </icon>
         <overview
               url="http://developer.android.com/tools/sdk/eclipse-adt.html">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.web"
            groupId="org.jboss.tools.central.discovery.web.extras"
            description="Google Web Toolkit Designer + WindowBuilder"
            id="com.google.gdt.eclipse.designer.editor.feature"
            kind="task"
            license="EPL, Other"
            name="Google Web Toolkit Designer"
            provider="Google, Inc."
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="com.google.gdt.eclipse.designer.editor.feature"/>
            <iu id="com.google.gdt.eclipse.designer.gpe.feature"/>
            <iu id="com.google.gdt.eclipse.designer.hosted.feature"/>
            <iu id="com.google.gwt.eclipse.sdkbundle.e42.feature"/>
            <iu id="com.google.gdt.eclipse.suite.e42.feature"/>
            <iu id="org.eclipse.wb.core.feature"/>
            <iu id="org.eclipse.wb.core.xml.feature"/>
            <iu id="org.eclipse.wb.css.feature"/>
         <icon
               image32="images/google_32.png">
         </icon>
         <overview
               url="https://developers.google.com/web-toolkit/tools/gwtdesigner/quick_start">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.web"
            groupId="org.jboss.tools.central.discovery.web.extras"
            description="Google Plugin for Eclipse (GPE) + Google Web Toolkit SDK (GWT)"
            id="com.google.gwt.eclipse.sdkbundle.e42.feature"
            kind="task"
            license="EPL, Other"
            name="Google Plugin + Web Toolkit"
            provider="Google, Inc."
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="com.google.gwt.eclipse.sdkbundle.e42.feature"/>
            <iu id="com.google.gdt.eclipse.suite.e42.feature"/>
         <icon
               image32="images/google_32.png">
         </icon>
         <overview
               url="https://developers.google.com/eclipse/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="org.jboss.tools.central.discovery.web"
            groupId="org.jboss.tools.central.discovery.web.extras"
            description="Tool support for the Spring Framework"
            id="org.springframework.ide.eclipse.feature"
            kind="task"
            license="Free, EPL, Other"
            name="Spring IDE"
            provider="Spring IDE Developers"
            siteUrl="http://download.jboss.org/jbosstools/updates/development/juno/central/core/">
            <iu id="org.springframework.ide.eclipse.aop.feature"/>
            <iu id="org.springframework.ide.eclipse.autowire.feature"/>
            <iu id="org.springframework.ide.eclipse.feature"/>
            <iu id="org.springframework.ide.eclipse.integration.feature"/>
            <iu id="org.springframework.ide.eclipse.osgi.feature"/>
            <iu id="org.springframework.ide.eclipse.webflow.feature"/>
            <iu id="org.springframework.ide.eclipse.security.feature"/>
         <icon
               image32="images/springide_32.png">
         </icon>
         <overview
               url="http://www.springsource.com/developer">
         </overview>
      </connectorDescriptor>
      
	</extension>
</plugin>
