<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
   
    <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.jboss.tools.maven.jsf.JSFLifecycleMapping"
            id="org.jboss.tools.maven.jsf.JSFLifecycleMapping"
            name="JSF Lifecycle mapping">
      </lifecycleMapping>
    </extension>
 
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.jboss.tools.maven.jsf.configurator"
          class="org.jboss.tools.maven.jsf.configurators.JSFProjectConfigurator"
          name="%JSF_Project_configurator"
          secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"/>
    </extension>
</plugin>
