<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.jboss.tools.project.examples.cheatsheet"
            name="Project Examples Tutorial">
      </category>
      <cheatsheet
            category="org.jboss.tools.project.examples.cheatsheet"
            contentFile="$nl$/cheatsheets/projectExamples.xml"
            id="org.jboss.tools.project.examples.cheatsheet.projectExamples"
            name="Project Examples Tutorial">
         <description>
            Learn how to use Project Examples Wizard
         </description>
      </cheatsheet>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.internal.cheatsheets.views.CheatSheetView"
            class="org.jboss.tools.project.examples.cheatsheet.internal.adapter.CheatSheetViewAdapterFactory">
         <adapter
               type="org.eclipse.ui.part.IShowInTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <showInPart
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <showInPart
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.jboss.tools.common.ui.JBossPerspective">
         <showInPart
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView">
         </showInPart>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <showInPart
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView">
         </showInPart>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.jboss.tools.project.examples.cheatsheet.Startup">
      </startup>
   </extension> 
    
   <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.OpenFileInEditorHandler"
            name="Open File"
            id="org.jboss.tools.project.examples.cheatsheet.openFileInEditor">
        <commandParameter
           id="path"
           name="File Path"
           optional="false">
        </commandParameter>
        <commandParameter
           id="fromLine"
           name="From Line"
           optional="true">
        </commandParameter>
        <commandParameter
           id="toLine"
           name="To Line"
           optional="true">
        </commandParameter> 
        <commandParameter
           id="editorID"
           name="Editor ID"
           optional="true">
        </commandParameter>  
      </command>
      <!--
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.RunOnServerHandler"
            name="Run On Server"
            id="org.jboss.tools.project.examples.cheatsheet.runOnServer">
        <commandParameter
           id="projectName"
           name="Project Name">
        </commandParameter>
        <commandParameter
           id="path"
           name="File Path"
           optional="true">
        </commandParameter>
      </command>
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.LaunchJUnitTestHandler"
            name="Launch JUnit tests"
            id="org.jboss.tools.project.examples.cheatsheet.launchJUnitTest">
        <commandParameter
           id="projectName"
           name="Project Name">
        </commandParameter>
        <commandParameter
           id="profile"
           name="Maven Profile"
           optional="true">
        </commandParameter>
        <commandParameter
           id="mode"
           name="Launch Mode"
           optional="true">
        </commandParameter>
      </command>
      -->
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.GetProjectForCheatsheetHandler"
            name="Launch JUnit tests"
            id="org.jboss.tools.project.examples.cheatsheet.getProjectForCheatsheet">
      </command>
   </extension>

</plugin>
