<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.jboss.tools.project.examples.cheatsheet"
            name="Project Examples Tutorial">
      </category>
      <cheatsheet
            category="org.jboss.tools.project.examples.cheatsheet"
            contentFile="$nl$/cheatsheets/projectExamples.xml"
            id="org.jboss.tools.project.examples.cheatsheet.projectExamples"
            name="Project Examples Tutorial">
         <description>
            Learn how to use Project Examples Wizard
         </description>
      </cheatsheet>
   </extension>
 
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jboss.tools.project.examples.cheatsheet.internal.commands.CheatSheetPropertyTester"
            id="org.jboss.tools.project.examples.cheatsheet.internal.commands.cheatSheetPropertyTester"
            namespace="org.jboss.tools.project.examples.cheatsheet"
            properties="isCheatSheet"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <command
               commandId="org.jboss.tools.project.examples.cheatsheet.OpenInCheatSheetsView"
               style="push">
           <visibleWhen>
					<with
						variable="selection">
						<iterate ifEmpty="false">
						  <and>
							<adapt type="org.eclipse.core.resources.IResource">
								<test
								  property="org.jboss.tools.project.examples.cheatsheet.isCheatSheet" 
								  value="true" forcePluginActivation="true"/>
							</adapt>
						  </and>
						</iterate>
						<count value="1"/>
					</with>
			</visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.OpenFileInEditorHandler"
            name="Open File"
            id="org.jboss.tools.project.examples.cheatsheet.openFileInEditor">
        <commandParameter
           id="path"
           name="File Path"
           optional="false">
        </commandParameter>
        <commandParameter
           id="fromLine"
           name="From Line"
           optional="true">
        </commandParameter>
        <commandParameter
           id="toLine"
           name="To Line"
           optional="true">
        </commandParameter> 
        <commandParameter
           id="editorID"
           name="Editor ID"
           optional="true">
        </commandParameter>  
      </command>
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.OpenInCheatSheetsView"
            name="Open In Cheat Sheets view"
            id="org.jboss.tools.project.examples.cheatsheet.OpenInCheatSheetsView">
      </command>
      <!--
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.RunOnServerHandler"
            name="Run On Server"
            id="org.jboss.tools.project.examples.cheatsheet.runOnServer">
        <commandParameter
           id="projectName"
           name="Project Name">
        </commandParameter>
        <commandParameter
           id="path"
           name="File Path"
           optional="true">
        </commandParameter>
      </command>
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.LaunchJUnitTestHandler"
            name="Launch JUnit tests"
            id="org.jboss.tools.project.examples.cheatsheet.launchJUnitTest">
        <commandParameter
           id="projectName"
           name="Project Name">
        </commandParameter>
        <commandParameter
           id="profile"
           name="Maven Profile"
           optional="true">
        </commandParameter>
        <commandParameter
           id="mode"
           name="Launch Mode"
           optional="true">
        </commandParameter>
      </command>
      -->
      <command
      		defaultHandler="org.jboss.tools.project.examples.cheatsheet.actions.GetProjectForCheatsheetHandler"
            name="Get current project"
            id="org.jboss.tools.project.examples.cheatsheet.getProjectForCheatsheet">
      </command>
   </extension>

</plugin>
