<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension 
        point="org.eclipse.wst.common.project.facet.ui.wizardPages">
    <wizard-pages action="jboss.m2.install">
        <page class="org.jboss.tools.maven.ui.internal.project.facet.MavenFacetInstallPage"/>
    </wizard-pages>
  </extension> 
  
  <extension point="org.eclipse.jst.common.project.facet.ui.libraryProviderActionPanels">
    <panel 
      provider="mapass-library-provider"
      class="org.jboss.tools.maven.ui.internal.libprov.MavenUserLibraryProviderInstallPanel"/>
  </extension>
  
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.jboss.tools.common.model.ui.MainPreferencePage"
           class="org.jboss.tools.maven.ui.preferences.ConfiguratorPreferencePage"
           id="org.jboss.tools.maven.ui.preferences.ConfiguratorPreferencePage"
           name="%JBoss_Maven_Integration"/>
    </extension>
    
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.jboss.tools.maven.ui.preferences.ConfiguratorPreferencesInitializer"/>
   </extension>
   
   <!-- Maven Profile Selection-->
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.jboss.tools.maven.ui.commands.profiles"
             name="%Maven_Profiles">
       </category>
       <command
             categoryId="org.jboss.tools.maven.ui.commands.profiles"
             id="org.jboss.tools.maven.ui.commands.selectMavenProfileCommand"
             name="%Select_Maven_Profiles">
       </command>
    </extension>
    
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.jboss.tools.maven.ui.internal.profiles.handlers.ProfileSelectionHandler"
             commandId="org.jboss.tools.maven.ui.commands.selectMavenProfileCommand">
       </handler>
    </extension>
    <extension
          point="org.eclipse.ui.bindings">
       <key
             commandId="org.jboss.tools.maven.ui.commands.selectMavenProfileCommand"
             contextId="org.eclipse.ui.contexts.window"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
             sequence="Ctrl+Shift+P">
       </key>
    </extension>
    
    <!--FIXME I can't make the menu appear in the maven menu-->
    <extension
          point="org.eclipse.ui.menus">
       <menuContribution locationURI="popup:org.eclipse.m2e.core.mavenMenu?after=additions" allPopups="true">
       <!--menuContribution locationURI="popup:common.new.menu?after=new" allPopups="true" -->
         <command
               commandId="org.jboss.tools.maven.ui.commands.selectMavenProfileCommand"
               id="org.jboss.tools.maven.ui.menus.selectMavenProfileCommand"
               mnemonic="P">
               
               <!--reference
                    definitionId="org.jboss.tools.maven.ui.mavenProject">
              </reference-->
               
         </command>
       </menuContribution>
    </extension>
    
      <extension
          point="org.eclipse.ui.menus">  
           <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
          <toolbar
                id="org.jboss.tools.maven.ui.toolbars.selectMavenProfilesToolbar">
             <command
                   commandId="org.jboss.tools.maven.ui.commands.selectMavenProfileCommand"
                   icon="icons/maven-profiles.gif"
                   id="org.jboss.tools.maven.ui.toolbars.selectMavenProfilesCommand"
                   tooltip="%Select_Maven_Profiles">
             </command>
          </toolbar>
       </menuContribution>
        </extension>
        
     <extension
         point="org.eclipse.core.expressions.definitions">
      <definition id="org.jboss.tools.maven.ui.mavenProject">
              <with variable="selection">
                 <iterate ifEmpty="false" operator="or">
                    <adapt type="org.eclipse.core.resources.IProject">
			           <and>
			             <objectState name="open" value="true"/>
			             <objectState name="nature" value="org.eclipse.m2e.core.maven2Nature"/>
			           </and>
                    </adapt>
                 </iterate>
              </with>
      </definition>
    </extension>

  <extension  point="org.eclipse.ui.editors.templates">    
        <template id="org.jboss.tools.maven.editor.xml.templates.repository.jboss.public"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.repositories"
         name="%JBoss_Public_Repo_name" 
         description="%JBoss_Public_Repo_description">
      <pattern>             &lt;!-- You should seriously consider using a repository manager or declare repositories in your settings.xml.
              See http://www.sonatype.com/people/2009/02/why-putting-repositories-in-your-poms-is-a-bad-idea/   --&gt;
     &lt;repository&gt;
        &lt;!-- The JBoss Public repository is a composite repository of several major repositories. 
              See http://community.jboss.org/wiki/MavenGettingStarted-Users --&gt;
        &lt;id&gt;${cursor}jboss-public-repository&lt;/id&gt;
        &lt;url&gt;http://repository.jboss.org/nexus/content/groups/public&lt;/url&gt;
        &lt;releases&gt;
           &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;/releases&gt;
        &lt;!-- You can disable snapshot resolution to speed up your builds --&gt;
        &lt;snapshots&gt;
          &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;/snapshots&gt;        
     &lt;/repository&gt;</pattern>
    </template>
  </extension>
  <extension  point="org.eclipse.ui.editors.templates">    
        <template id="org.jboss.tools.maven.editor.xml.templates.repository.jboss.releases"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.repositories"
         name="%JBoss_Releases_Repo_name" 
         description="%JBoss_Releases_Repo_description">
      <pattern>             &lt;!-- You should seriously consider using a repository manager or declare repositories in your settings.xml.
              See http://www.sonatype.com/people/2009/02/why-putting-repositories-in-your-poms-is-a-bad-idea/   --&gt;
     &lt;repository&gt;
        &lt;!-- The JBoss Release repository mostly contains JBoss projects artifacts. 
              See http://community.jboss.org/wiki/MavenGettingStarted-Users --&gt;
        &lt;id&gt;${cursor}jboss-releases-repository&lt;/id&gt;
        &lt;url&gt;https://repository.jboss.org/nexus/content/repositories/releases/&lt;/url&gt;
        &lt;releases&gt;
           &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;/releases&gt;
        &lt;snapshots&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
        &lt;/snapshots&gt;        
     &lt;/repository&gt;</pattern>
    </template>
  </extension>  
</plugin>
