<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="tutorials" name="%Tutorials" schema="schema/tutorials.exsd"/>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JBoss Central"
            icon="icons/jboss.gif"
            contributorClass="org.jboss.tools.central.editors.JBossCentralEditorContributor"
            class="org.jboss.tools.central.editors.JBossCentralEditor"
            id="org.jboss.tools.central.editors.JBossCentralEditor">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.jboss.tools.central.ShowJBossCentral">
      </startup>
   </extension>
   
   <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="org.jboss.tools.common.model.ui.MainPreferencePage"
           class="org.jboss.tools.central.preferences.JBossCentralPreferencePage"
           id="org.jboss.tools.central.preferences.JBossCentralPreferencePage"
           name="JBoss Central"/>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?before=group.intro">
            <command
                  commandId="org.jboss.tools.central.show"
                  icon="icons/jboss.gif"
                  id="org.jboss.tools.central.show">
            </command>
                        
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
      		defaultHandler="org.jboss.tools.central.actions.ShowJBossCentralHandler"
            name="JBoss Central"
            id="org.jboss.tools.central.show">
      </command>
      <command
      		defaultHandler="org.jboss.tools.central.actions.OpenJBossToolsHomeHandler"
            name="JBoss Tools Home"
            id="org.jboss.tools.central.openJBossToolsHome">
      </command>
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.OpenJBossNewsHandler"
            name="News"
            id="org.jboss.tools.central.openJBossNews">
      </command>
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.RefreshJBossTutorialsHandler"
            name="Refresh"
            id="org.jboss.tools.central.refreshJBossTutorials">
      </command>
      <command
      		defaultHandler="org.jboss.tools.central.actions.RefreshJBossNewsHandler"
            name="Refresh"
            id="org.jboss.tools.central.refreshJBossNews">
      </command>
      <command
      		defaultHandler="org.jboss.tools.central.actions.RefreshDiscoveryHandler"
            name="Refresh"
            id="org.jboss.tools.central.refreshDiscovery">
      </command>
      
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.OpenJBossToolsTwitterHandler"
            name="Twitter"
            id="org.jboss.tools.central.openJBossToolsTwitter">
      </command>
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.NewProjectExamplesWizardHandler"
            name="Project Examples Wizard"
            id="org.jboss.tools.central.newProjectExamplesWizard">
      </command>
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.FavoriteAtEclipseMarketplaceHandler"
            name="Favorite this @ Eclipse Marketplace"
            id="org.jboss.tools.central.favoriteAtEclipseMarketplace">
      </command>
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.JBossCentralPreferencesHandler"
            name="Preferences"
            id="org.jboss.tools.central.preferences">
      </command>
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.JBossRuntimeDetectionPreferencesHandler"
            name="JBoss Runtime Detection"
            id="org.jboss.tools.runtime.preferences">
      </command>
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.JBossSeamRuntimePreferencesHandler"
            name="JBoss Seam 2 Runtime Preferences"
            id="org.jboss.tools.seam.runtime.preferences">
      </command>
      
      
      <command
      		defaultHandler="org.jboss.tools.central.actions.WTPRuntimePreferencesHandler"
            name="WTP Runtime Preferences"
            id="org.jboss.tools.wtp.runtime.preferences">
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.jboss.tools.central.openJBossToolsHome"
            icon="icons/jbosstools_icon16.png">
      </image>
      <image
            commandId="org.jboss.tools.central.openJBossNews"
            icon="icons/news.gif">
      </image>
      <image
            commandId="org.jboss.tools.central.refreshJBossNews"
            icon="icons/refresh.gif">
      </image>
      <image
            commandId="org.jboss.tools.central.refreshJBossTutorials"
            icon="icons/refresh.gif">
      </image>
      <image
            commandId="org.jboss.tools.central.refreshDiscovery"
            icon="icons/refresh.gif">
      </image>
      
      <image
            commandId="org.jboss.tools.central.openJBossToolsTwitter"
            icon="icons/twitter.png">
      </image>
      <image
            commandId="org.jboss.tools.central.favoriteAtEclipseMarketplace"
            icon="icons/star.png">
      </image>
      <image
            commandId="org.jboss.tools.central.preferences"
            icon="icons/preferences.gif">
      </image>
      <image
            commandId="org.jboss.tools.runtime.preferences"
            icon="icons/search_local.png">
      </image>
      
      <image
            commandId="org.jboss.tools.wtp.runtime.preferences"
            icon="icons/wtp_server.gif">
      </image>
      
      <image
            commandId="org.jboss.tools.seam.runtime.preferences"
            icon="icons/seam16.png">
      </image>
      
      <image
            commandId="org.jboss.tools.central.newProjectExamplesWizard"
            icon="icons/examples_wiz.gif">
      </image>
   </extension>
      
   <extension
         point="org.jboss.tools.central.tutorials">
      <category 
      		id="org.jboss.tools.central.jbossas.quickstart"
      		name="JBoss AS 7 Quickstarts"
      		priority="1" />
      <category 
      		id="org.jboss.tools.central.seam2"
      		name="Seam 2 tutorials"
      		priority="5" />
      <tutorial
            id="org.jboss.tools.central.jbossas.quickstart.helloworld"
            categoryId="org.jboss.tools.central.jbossas.quickstart"
            name="Helloworld quickstart"
            type="projectExample"
            priority="1"
            icon="icons/jbossas7.png"
            reference="JBoss AS 7 Quickstarts::helloworld"/>
      <tutorial
            id="org.jboss.tools.central.jbossas.quickstart.numberguess"
            categoryId="org.jboss.tools.central.jbossas.quickstart"
            name="Numberguess quickstart"
            type="projectExample"
            priority="2"
            icon="icons/jbossas7.png"
            reference="JBoss AS 7 Quickstarts::numberguess"/>
      
      <tutorial
            id="org.jboss.tools.central.jbossas.quickstart.login"
            categoryId="org.jboss.tools.central.jbossas.quickstart"
            name="Login quickstart"
            type="projectExample"
            priority="3"
            icon="icons/jbossas7.png"
            reference="JBoss AS 7 Quickstarts::login"/>
      
      <tutorial
            id="org.jboss.tools.central.jbossas.quickstart.kitchensink"
            categoryId="org.jboss.tools.central.jbossas.quickstart"
            name="Kitchensink quickstart"
            type="projectExample"
            priority="4"
            icon="icons/jbossas7.png"
            reference="JBoss AS 7 Quickstarts::kitchensink"/>
      
      <tutorial
            id="org.jboss.tools.central.Seam.registration2"
            categoryId="org.jboss.tools.central.seam2"
            name="Registration Example"
            type="projectExample"
            priority="1"
            icon="icons/seam16.png"
            reference="Seam::registration2"/>
      <tutorial
            id="org.jboss.tools.central.Seam.messages"
            categoryId="org.jboss.tools.central.seam2"
            name="Message Example"
            type="projectExample"
            priority="2"
            icon="icons/seam16.png"
            reference="Seam::messages"/>
      <tutorial
            id="org.jboss.tools.central.Seam.todo"
            categoryId="org.jboss.tools.central.seam2"
            name="Todo Example"
            type="projectExample"
            priority="3"
            icon="icons/seam16.png"
            reference="Seam::todo"/>
      <tutorial
            id="org.jboss.tools.central.Seam.numberguess"
            categoryId="org.jboss.tools.central.seam2"
            name="Numberguess Example"
            type="projectExample"
            priority="4"
            icon="icons/seam16.png"
            reference="Seam::numberguess"/>
      <tutorial
            id="org.jboss.tools.central.Seam.booking22"
            categoryId="org.jboss.tools.central.seam2"
            name="Boooking Example"
            type="projectExample"
            priority="5"
            icon="icons/seam16.png"
            reference="Seam::booking22"/>
       
   </extension>
   
</plugin>
