<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Tools_Community_Examples">
        <url>http://anonsvn.jboss.org/repos/jbosstools/workspace/examples/project-examples-3.1.xml </url>
        <experimental>false</experimental>
   </extension>
</plugin>
