<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Tools_Community_Examples">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-community-3.1.xml</url>
        <experimental>false</experimental>
   </extension>
   <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Tools_32_Community_Examples">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-3.2.xml</url>
        <experimental>false</experimental>
   </extension>
   <extension
       name="%JBoss_Tools_Community_BPEL_Examples"
       point="org.jboss.tools.project.examples.projectExamplesXml">
    <url>
       http://download.jboss.org/jbosstools/examples/project-examples-bpel-3.1.xml
    </url>
    <experimental>
       false
    </experimental>
 </extension>
 <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Tools_Community_Maven_Examples">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-maven-3.2.xml</url>
        <experimental>false</experimental>
  </extension>
  <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Tools_4x_Community_Maven_Examples">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-maven-4.0.Alpha1.xml</url>
        <experimental>false</experimental>
  </extension>
  
  <extension
        point="org.jboss.tools.project.examples.categories"
        name="Project Examples Categories">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-category-jbosstools-4.0.xml</url>
    </extension>
    
  <extension
        point="org.jboss.tools.project.examples.projectExamplesXml"
        name="%JBoss_Tools_40_Community_GateIn_Portal_Examples">
         <url>https://github.com/downloads/ppalaga/gatein-portal-quickstart/project-examples-gatein-4.0-001.xml</url>
        <experimental>true</experimental>
  </extension>    
   
</plugin>
