<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.tools.project.examples.importProjectExamples">
      <importProjectExample
            class="org.jboss.tools.maven.project.examples.ImportMavenProjectExample"
            name="Import Maven Project Examples"
            type="maven">
      </importProjectExample>
   </extension>
   
</plugin>
