<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.jboss.tools.project.examples.importProjectExamples">
      <importProjectExample
            class="org.jboss.tools.maven.project.examples.ImportMavenProjectExample"
            name="Import Maven Project Examples"
            type="maven">
      </importProjectExample>
   </extension>
   
   <extension
         point="org.jboss.tools.project.examples.importProjectExamples">
      <importProjectExample
            class="org.jboss.tools.maven.project.examples.ImportMavenArchetypeProjectExample"
            name="Import Maven Archetype Project Examples"
            type="mavenArchetype">
      </importProjectExample>
   </extension>
   <extension
         point="org.jboss.tools.project.examples.wizardpages">
      <page
            class="org.jboss.tools.maven.project.examples.wizard.MavenExamplesRequirementsPage"
            id="org.jboss.tools.maven.project.examples.wizard.MavenExamplesRequirementsPage"
            name="Maven Project Requirement Page"
            priority="1"
            pageType="requirement"
            type="maven">
      </page>      
      <page
            class="org.jboss.tools.maven.project.examples.wizard.NewProjectExamplesStacksRequirementsPage"
            id="org.jboss.tools.maven.project.examples.wizard.NewProjectExamplesStacksRequirementsPage"
            name="Maven Archetype First Page"
            priority="1"
            pageType="requirement"
            type="mavenArchetype">
      </page>
      <page
            class="org.jboss.tools.maven.project.examples.wizard.ArchetypeExamplesWizardFirstPage"
            id="org.jboss.tools.maven.project.examples.wizard.ArchetypeExamplesWizardFirstPage"
            name="Maven Archetype First Page"
            priority="1"
            pageType="extra"
            type="mavenArchetype">
      </page>
      <page
            class="org.jboss.tools.maven.project.examples.wizard.ArchetypeExamplesWizardPage"
            id="org.jboss.tools.maven.project.examples.wizard.ArchetypeExamplesWizardPage"
            name="Maven Archetype Second Page"
            priority="2"
            pageType="extra"
            type="mavenArchetype">
      </page>
   </extension>
</plugin>
