<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
    </extension>
   
    <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.jboss.tools.maven.cdi.CDILifecycleMapping"
            id="org.jboss.tools.maven.cdi.CDILifecycleMapping"
            name="CDI Lifecycle mapping">
      </lifecycleMapping>
    </extension>
    
	<extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.jboss.tools.maven.cdi.configurator.wtp"
          class="org.jboss.tools.maven.cdi.configurators.CDIProjectConfigurator"
          name="%CDI_Project_configurator_WTP" 
          secondaryTo="org.maven.ide.eclipse.configuration.wtp.configurator"/>
    </extension>
    
    <extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator 
          id="org.jboss.tools.maven.cdi.configurator.jdt"
          class="org.jboss.tools.maven.cdi.configurators.CDIProjectConfigurator"
          name="%CDI_Project_configurator_JDT" 
          secondaryTo="org.eclipse.m2e.jdt.javaConfigurator"/>
    </extension>
    <extension
          point="org.eclipse.m2e.wtp.facetDetectors">
       <facetDetector
             id="org.jboss.tools.maven.cdi.wtp.ExtraJsfFacetDetector"
             facetId="jst.jsf"
             class="org.jboss.tools.maven.cdi.internal.wtp.ExtraJsfFacetDetector"
             priority="50">
       </facetDetector>
    </extension>
    <extension point="org.eclipse.ui.editors.templates">
    <template id="org.jboss.tools.maven.cdi.xml.templates.cdiActivationProperty"
         contextTypeId="org.eclipse.m2e.editor.xml.templates.contextType.properties"
         name="m2e-cdi activation" 
         description="Enable or disable automatic CDI configuration">
      <pattern>&lt;m2e.cdi.activation&gt;${cursor}${false}&lt;/m2e.cdi.activation&gt;</pattern>
    </template>
   </extension> 
    
    
</plugin>
