<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="projectExamplesXml" name="%ProjectExamples" schema="schema/projectExamplesXml.exsd"/>

  <extension point="org.eclipse.ui.newWizards">
    <category
            name="%JBoss_Tools_category"
            id="org.jboss.ide.eclipse.ui.wizards">
      </category>
    <wizard
		id="org.jboss.tools.project.examples.wizard.NewProjectExamplesWizard"
		name="%Project_Examples_wizard"
		class="org.jboss.tools.project.examples.wizard.NewProjectExamplesWizard"
		category="org.jboss.ide.eclipse.ui.wizards"
		icon="icons/examples_wiz.gif">	
	</wizard>
  </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
            name="%Project_Examples_command"
            id="org.jboss.tools.project.examples">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.jboss.tools.project.examples"
            class="org.jboss.tools.project.examples.actions.ProjectExamplesHandler">
      </handler>
   </extension>
  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=group.tutorials">
            <command
                  commandId="org.jboss.tools.project.examples"
                  id="org.jboss.tools.project.examples">
            </command>
                        
      </menuContribution>
   </extension>
   <extension
        point="org.jboss.tools.project.examples.projectExamplesXml">
        <url>http://download.jboss.org/jbosstools/examples/project-examples-3.0.xml</url>
   </extension>
   
   <extension
        point="org.jboss.tools.project.examples.projectExamplesXml">
        <url>http://anonsvn.jboss.org/repos/jbosstools/workspace/examples/project-examples-3.0.2.xml</url>
   </extension>
  
</plugin>
